$background: #1a2d3c;
$fontColor: white;
$fontFamily: Avenir;

.App {
  color: $fontColor;
  background-color: $background;
  font-family: $fontFamily;
}

.footer {
  color: #457a9d;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 2em;
  margin-bottom: 3em;
  font-size: 1.3em;
}